In [11]:
a = ["apple" , "mango" , "banana" , "pineapple" , "strawberry"]
b = a 
b = a.remove("apple")
print(a)
b = a.pop(1)
print(a)
a.append("blueberry")
print(a)
if "mango" in a:
    print("present")

['mango', 'banana', 'pineapple', 'strawberry']
['mango', 'pineapple', 'strawberry']
['mango', 'pineapple', 'strawberry', 'blueberry']
present

In [12]:
#sortin.g of a list
a = [52,56,89,56,59,78,22,10,133,2,44,260,4455]
a.sort()
print(a)

[2, 10, 22, 44, 52, 56, 56, 59, 78, 89, 133, 260, 4455]

In [16]:
#reversing a list 
a = ["apple" , "mango" , "banana" , "pineapple" , "strawberry"]
a.reverse()
print(a)
print(a.index("mango"))
a.clear()
print(a)

['strawberry', 'pineapple', 'banana', 'mango', 'apple']
3
[]

In [14]:
numbers = [1,1,5,2,4,6,7,9,1,7,8,8,6,4,5,45,45,8,9,9,9,8,8,8,86,6,6,6,6,6,6]
print(numbers.count(6))

8

In [3]:
#copying a k=list 
a = [1,2,3,4,5,6,8]
b = a.copy()
print(a,b)
print(a[0:2])

[1, 2, 3, 4, 5, 6, 8] [1, 2, 3, 4, 5, 6, 8]
[1, 2]

In [6]:
#tuple
a = ("mahi" , "pushkar" , "miraj","harsh" , "tisha")
for i in a:
    print(i)

print(a[0])

mahi
pushkar
miraj
harsh
tisha
mahi

In [ ]:
#tuple
a = ("mahi" , "pushkar" , "miraj","harsh" , "tisha")
print(a[0] , a[-1])
print(len(a))
if "mahi" in a:
    print("present")

mahi tisha
5
present

In [11]:
a = ("mahi", )
print(type(a))

<class 'tuple'>

In [1]:
a = [1,2,3,4,5,6,8]
b = tuple(a)

print(type(b))

<class 'tuple'>

In [ ]:
names = ["mahi" , "pushkar" , "miraj","harsh" , "tisha"]
marks = (97,97,99,91,98)
for i in range(3):
    print(names[i] , marks [i])

ValueError: too many values to unpack (expected 2, got 5)

In [ ]:
names = ["mahi" , "pushkar" , "miraj","harsh" , "tisha"]
marks = (97,97,99,91,98)
for i in range(5):
    print(names[i] , marks [i])
    
average = sum(marks)/len(marks)
print(average)

mahi 97
pushkar 97
miraj 99
harsh 91
tisha 98
96.4

In [5]:
expenses = [ 1000 , 200 ,200 , 500 , 7000]
total = sum (expenses)
print (total)
highest = max(expenses)
print(highest)
lowest  = min(expenses)
print(lowest)

8900
7000
200

In [ ]:
todo_list = ["practise" , "wash clothes" , "code" , ]

In [ ]:
s  = {1,2,3,2}
print(type(s))
print(s)
for x in s:
    print (x)
print(len(s))

<class 'set'>
{1, 2, 3}
1
2
3
3

In [21]:
s = {1,2,3,2}
s.add(4)
print(s)
s.update([6,8,9])
print(s)
s.remove(2)
print(s)
s.discard(9)
print(s)
s.pop()
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 6, 8, 9}
{1, 3, 4, 6, 8, 9}
{1, 3, 4, 6, 8}
{3, 4, 6, 8}

In [22]:
names = {"mahi" , "pushkar" , "miraj","harsh" , "tisha"}
if "mahi" in names:
    print ("name is present")
    
else:
    print("name iss not present")

name is present

In [ ]:
a = {1,2,3,4,5}
b = {4, 5 , 6,7,8}

print(a|b)
print(a&b)
print(a-b)
print(b-a)
print(a^b)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}

In [30]:
list = [11,12,13]
b = set(list)
print(b)

{11, 12, 13}

In [31]:
stu = {"name": "mahi" , "age" : "19" }
print(stu)

{'name': 'mahi', 'age': '19'}

In [ ]:
marks = {"phy" : 89 , "maths" : 88 , "science" : 98}
print(marks["maths"])


marks["english"]=99
print(marks)

marks.pop("maths")
print(marks)

88
{'phy': 89, 'maths': 88, 'science': 98, 'english': 99}
{'phy': 89, 'science': 98, 'english': 99}

In [37]:
# print set of 5 integers 
integer = {1,2,3,4,5}
print (integer)

{1, 2, 3, 4, 5}

In [38]:
l = [ 1,1,1,5,4,6,7,8,8,7,4,5,9,51,25,5,5]
b = set(l)
print(b)

{1, 4, 5, 6, 7, 8, 9, 51, 25}

In [47]:
integer = {1,2,3,4,5}
# integer.add(25)
# print(integer)
# integer.remove(1)
# print(integer)
# integer.discard(99)
# print(integer)
# print(len(integer))
integer.update({8,6})
print(integer)

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
integer = {1,2,3,4,5}
# if 1 in integer:
#     print("element exists)
for i in integer:
    print(i)

integer.clear()
print(integer)

1
2
3
4
5
set()

In [55]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

# print("union" , a|b)
# print("intersection" ,a&b)
# print("exceept common" , a^b)
# print("difference" , a-b)
if a.issubset(b):
    print("True")

In [58]:
a = [1,2,3,4,5,6,7,8,9,7,4,8,2]
b = [5,6,84,2,65,8,4,1,2]
c = set(a)
d= set(b)
e = c|d
# e = len(set(a)) + len(set(b))
print(len(e))

11

In [69]:
dict = {"name":"mahi","age" : 18 , "gender":"female" , "course" : "ibm"}
# print(dict)
# print(dict["name"])
# dict["name"]="tisha"
# print(dict)
# dict.pop("name")
# print(dict)
# del dict["gender"]
# print(dict)
for values in dict:
    print(values)
dict["section"]= 4
print(dict)

name
age
gender
course
{'name': 'mahi', 'age': 18, 'gender': 'female', 'course': 'ibm', 'section': 4}

In [71]:
a = "hello"
print(a.upper())

HELLO

In [72]:
def greet():
    print("hello how are you")
    
greet()

hello how are you

In [73]:
def greet(name):
    print("hello", name)
    
greet("tisha")

hello tisha

In [74]:
def calculation(a,b):
    print ("addition :" , a+b)
    print ("substraction:" , a-b)
    
calculation(10,2)

addition : 12
substraction: 8

In [75]:
def square(n):
    return n*n
result=square(5)
print(result)

square(10)

25

100

In [76]:
def is_even(n):
    if n % 2 == 0:
        print("the number is even")
    else:
        print("the number is not even")
        
        
is_even(86)

the number is even

In [77]:
def greet (name = "guest"):
    print("hello", name , "welcome")
    
greet("mahi")
greet()

hello mahi welcome
hello guest welcome

In [ ]:
def student (name , age):
    print (name , age )
    
student("305mahi",19)

mahi 19

In [80]:
def largest_number(a,b):
    print("the largest number btw this two number is", max(a,b))
    
    
largest_number(25,99)

the largest number btw this two number is 99

In [81]:
def area(r):
    print ("area of circle is", 3.14*r*r)
    
area(5)

area of circle is 78.5

In [ ]:
#celcius to farhenite