In [31]:
import random 

def employee_input():
    employee_name = input("Enter Employee Name")
    basic_salary = int(input("Enter baisc salary of employee"))
    year_experience = float(input("Enter years of Experience"))
    
    return employee_name , basic_salary , year_experience

In [32]:
def calculate(basic_salary):
    hra = (20/100) * basic_salary  
    da = (15/100) * basic_salary
    e_bonus= (random.randint(5,25)/100)*basic_salary
    pf = (12/100)*basic_salary
    
    return hra , da , e_bonus , pf

In [33]:
def calculate_tax(gross_salary):
    if gross_salary <= 50000:
        tax = 0
    elif 50001 <= gross_salary <= 100000:
        tax = 0.1*gross_salary
    else:
        tax = 0.2 *gross_salary
        
    return tax

In [ ]:
def display_salary_slip(employee_name , basic_salary , year_experience , hra , da , e_bonus , pf , gross_salary , tax , deduction , net_salary , grand_total,employee_number):
    print ("employee number" , employee_number)
    print ("Name of employee:" , employee_name)
    print( "years of experience" , year_experience)
    print(f"\n{'='*40}")
    print (f"{'SALARY SLIP' : ^40}-{employee_name}")
    print(f"{'='*40}")
    print(f"Basic salary:              ${basic_salary:,.2f}")
    print(f"HRA(20%):                  ${hra:,.2f}")
    print(f"DA(15%):                   ${da:,.2f}")
    print(f"Experience Bonus(20%):     ${e_bonus:,.2f}")
    print(f"{'-'*40}")
    print(f"Gross Salary:              ${gross_salary:,.2f}")
    print(f"Tax :                      ${e_bonus:,.2f}")
    print(f"PF(12%) :                  ${pf:,.2f}")
    print(f"{'-'*40}")
    deduction = tax + pf 
    print(f"Total Deductions:          ${deduction:,.2f}")
    print(f"{'='*40}")
    print(f"NET SALARY:                ${net_salary:,.2f}")
    print(f"{'='*40}")
    
    
 
def display_payroll_slip(total_gross , employee_number , total_deduction , grand_total):
    print(f"\n{'='*40}")
    print (f"{'PAYROLL SLIP' : ^40}")
    print(f"{'='*40}")
    
    print(f"Total Deductions:           ${total_deduction:,.2f}")
    print(f"Total Net Salary:           ${grand_total:,.2f}")
    average_net_salary = grand_total/employee_number
    print(f"Average Net Salary:           ${average_net_salary:,.2f}")
    
    print(f"{'='*40}")

In [35]:
grand_total = 0
total_deduction = 0
total_gross = 0
employee_number = 0 


while True:
    
    name , basic_salary , year_experience = employee_input()
    hra , da , e_bonus , pf = calculate(basic_salary)
    gross_salary = basic_salary + hra + da + e_bonus 
    tax = calculate_tax(gross_salary)
    total_deduction = tax + pf 
    net_salary = gross_salary - total_deduction 
    grand_total += net_salary 
    employee_number += 1 
    
    display_salary_slip(name, basic_salary , year_experience , hra , da , e_bonus , pf , gross_salary , tax , total_deduction , net_salary , grand_total,employee_number)
    choice = input("Do you want to add another employee? yes/no")
    if choice == "yes":
        continue
    else:
        break 

display_payroll_slip(total_gross , employee_number , total_deduction , grand_total)

employee number 1
Name of employee: mahi
years of experience 2.0

========================================
              SALARY SLIP               -mahi
========================================
Basic salary:              $10,000.00
HRA(20%):                  $2,000.00
DA(15%):                   $1,500.00
Experience Bonus(20%):     $1,300.00
----------------------------------------
Gross Salary:              $14,800.00
Tax :                      $1,300.00
PF(12%) :                  $1,200.00
----------------------------------------
Total Deductions:          $1,200.00
========================================
NET SALARY:                $13,600.00
========================================
employee number 2
Name of employee: kareem
years of experience 1.0

========================================
              SALARY SLIP               -kareem
========================================
Basic salary:              $200,000.00
HRA(20%):                  $40,000.00
DA(15%):                   $30,000.00
Experience Bonus(20%):     $12,000.00
----------------------------------------
Gross Salary:              $282,000.00
Tax :                      $12,000.00
PF(12%) :                  $24,000.00
----------------------------------------
Total Deductions:          $80,400.00
========================================
NET SALARY:                $201,600.00
========================================

========================================
              PAYROLL SLIP
========================================
Total Employee:                  2
Total Deductions:           $80,400.00
Total Net Salary:           $215,200.00
Average Net Salary:           $107,600.00
========================================